services:
  db: 
    image: postgres:15
    container_name: university-db
    environment: 
      POSTGRES_DB: university
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1234
    volumes: 
      - pgdata:/var/lib/postgresql/data
      - ./helpers/storage:/docker-entrypoint-initdb.d
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
  api:
    build: 
      context: .
      dockerfile: Dockerfile
    container_name: university_api
    environment:
      DATABASE_URL: postgres://postgres:1234@db:5432/university
      JWT_SECRET: supersecretkey
    ports:
      - "8080:8080"
    depends_on:
      db:
        condition: service_healthy

volumes:

  pgdata: